<app-navbar [searchQuery]= "searchDto.search"></app-navbar>
<div class="container-fluid search-area">
  <div class="row">
   
    <!-- MAP section-->
    <div class="col-8 map-div">
        <div id="map"></div>
    </div>


    <!-- Property card section-->
    <div class="col-4 properties-div">
      <div class="card property-cards">
        <div class="card-body">
          <h2>{{searchDto.search}} </h2>
          <ul>

            <div class="row">
              <div *ngFor="let p of propertiesDisplay" class="col-6">
                <div class="card" data-toggle="modal" data-target="#exampleModal" (click)="selectedProperty = p;">
                  <div class="card-body">
                    <!-- TODO store image files in s3 store path in db, change db image from blob to string store path -->
                    <img src="https://photos.zillowstatic.com/p_e/IS2fwxbc0thy161000000000.jpg" style="max-width: 100%;">
                  </div>
                  <div class="card-title">${{p.price}}</div>
                </div>
              </div>
            </div>



            <!-- <li *ngFor="let p of propertiesDisplay"> {{p.address}} - {{p.description}} PRICE: {{p.price}} -->
            <!-- image: <img [src]="_DomSanitizationService.bypassSecurityTrustUrl('data:image/png;base64, '+p.imageOne)"></li> -->
          </ul>
        </div>
        <div class="card-footer text-muted text-center">
          <button type="button" class="btn btn-info" (click)="prev()"> previous </button>
          <button type="button" class="btn btn-info" (click)="next()"> next </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO Do Advanced search later-->
<!-- <a href="#" (click)="showAdvanced = !showAdvanced"> {{(showAdvanced)?'hide':'show'}} advanced search.. </a>


  <div *ngIf="showAdvanced">

    From: <input type="number" [(ngModel)]="fromPrice">
    To: <input type="number" [(ngModel)]="toPrice">
    <br>

    <input type="range" [(ngModel)]="fromPrice" min="0" max="1000000">

    <input type="range" [(ngModel)]="toPrice" min="0" max="1000000">
    <br>
  </div>
</div> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Listing {{selectedProperty.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div *ngFor="let img of selectedProperty.images; let i = index;" class="carousel-item" [ngClass]="{active: i==0}" >
                    <img class="d-block w-100" src="https://s3.us-east-2.amazonaws.com/cucuyo-images/{{img}}" alt="First slide">
                  </div>   
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            {{selectedProperty.address}} - {{selectedProperty.description}} PRICE: {{selectedProperty.price}}
        </div>

 
      </div>
    </div>
  </div>
