


<label for="search">
Enter Search:
</label>

<input id="search" type="text" [(ngModel)]="searchInput" />

<button (click)="search()"> search </button>
<br>
 <a href="#" (click)="showAdvanced = !showAdvanced"> {{(showAdvanced)?'hide':'show'}} advanced search.. </a>


<div *ngIf ="showAdvanced">

  From: <input type="number" [(ngModel)]="fromPrice"> 
  To:   <input type="number" [(ngModel)]="toPrice"> 
<br>

      <input type="range" [(ngModel)]="fromPrice" min="0" max="1000000">

      <input type="range" [(ngModel)]="toPrice" min="0" max="1000000">
      <br>
</div>
<h2> Here are a list of available properties : </h2>

<ul>
  <li *ngFor="let p of propertiesDisplay"> {{p.title}} - {{p.description}} PRICE: {{p.price}}</li>
</ul>

<button (click)="prev()"> previous </button>

<button (click)="next()"> next </button>
