<section>
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <span>Welcome to Cucuyo Cuba Real Estate</span>
  </mat-toolbar>

  <div class="bg hidden-xs">
    <div class="img"></div>
  </div>

  <div class="center-block">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="title"><span>Welcome to Cucuyo Cuba Real Estate</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div class="row">
            <mat-form-field fxFlex>
              <input matInput placeholder="Enter Search">
            </mat-form-field>
            <button type="button" (click)="submit()" mat-raised-button color="primary">Search</button>
            <mat-button-toggle>Show Advanced</mat-button-toggle>
          </div>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</section>

