#map {
    height: 100%;
    width: 100%;
  }

  .ui-fileupload-buttonbar button:not(.ui-fileupload-choose) {  
    display: none;  
  } 

  .custom-file-input ~ .custom-file-label::after {
    content: "Browse";
}

.container {
  margin-top:50px;
}