<section>
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <span>Welcome to Cucuyo Cuba Real Estate</span>
  </mat-toolbar>

  <div class="search-container flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <app-search-form (onSubmit)="search($event)"
                     [ngClass]="{'mrg-left-percent-20': isSearchFormSubmitted}"
                     [loading]="isSearchFormLoading"></app-search-form>

    <app-search-list class="search-items"
                     [currentPage]="currentPage"
                     [pageSize]="pageSize"
                     (nextPage)="nextPage($event)"
                     (previousPage)="previousPage($event)"
                     *ngIf="isSearchFormSubmitted" fxFlex></app-search-list>
  </div>
</section>
