<section class="home">
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <span>Welcome to Cucuyo Cuba Real Estate</span>
  </mat-toolbar>

  <div class="search-container flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <app-search-form (whenSearchEnds)="renderSearchResults($event)"
                     [ngClass]="{'mrg-left-percent-20': isSearchFormSubmitted}"></app-search-form>

    <mat-card class="search-items" *ngIf="isSearchFormSubmitted" fxFlex>
      <mat-card-content>

      </mat-card-content>
      <mat-card-footer>
        <mat-paginator [length]="100" [pageSize]="10"></mat-paginator>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
