

<h1> Sign up </h1>

<form (ngSubmit)="onSubmit()" #f="ngForm">
  <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="email" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required />
  <input type="password"  class="form-control" [(ngModel)]="user.password" name="password" placeholder="password" required />
  <input type="password"  class="form-control" [(ngModel)]="verifiedPassword" name="verifiedPassword" placeholder="verify password" minlength="3" required/>
  
  <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Sign Up</button>

  <small class="alert alert-danger" *ngIf="verifiedPassword!= user.password"> Passwords do not match </small>
  <small class="alert alert-danger" > Email is invalid </small>
</form>

  {{verifiedPassword}}
  {{user.password}}
