@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import 'assets/style/modules/variables';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  outline: 0 none;
  background-color: $bg-color-white;
  overflow: auto;
}

.mrg-left-percent-20 {
  margin-left: 10% !important;
}
